[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "numbers.vim"]
	path = numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "tmuxline.vim"]
	path = tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-eco"]
	path = vim-eco
	url = https://github.com/AndrewRadev/vim-eco.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim-angular"]
	path = vim-angular
	url = git://github.com/burnettk/vim-angular.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "angular-vim-snippets"]
	path = angular-vim-snippets
	url = https://github.com/matthewsimo/angular-vim-snippets.git
[submodule "vim-jade"]
	path = vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim-trailing-whitespace"]
	path = vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate
